<!DOCTYPE html>
<html>
<head>
    <title>My Demo Shop</title>
</head>
<body>
    <h1>Demo Shop Surveillance</h1>
    <div style="width: 1400px; margin: 0 auto;">
        <img src="/video" style="height: 460px; float:left">
        <img id="mapImage" src="/map" style="float:right;">
    </div>
</body>

<script>  
    function updateMap() {
      var mapImage = document.getElementById('mapImage');
      mapImage.src = '/map?' + Date.now();
    }
  
    setInterval(updateMap, 500);
</script>
</html>
